@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

html, body {
  overflow: hidden;
  height: 100%;
  touch-action: none; /* Prevents any scrolling or zooming */
}

.text-xl {
  font-size: 2rem;
  line-height: 2.5rem;
}